# VSCode settings
.vscode

# Serverless directories
.serverless
secrets.dev.yml

# Go bin and pkg directories if using GOPATH inside the project (not recommended)
bin
pkg

# Go vendor directory
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Final binary
dont-slack-evil

